# Ignore .env files
.env

# Ignore directories that don't need to be pushed to GitHub
venv/

# Ignore Python bytecode files
__pycache__/
.pytest_cache/

# Ignore
.DS_Store

# Ignore generated and local data artifacts
data/bronze/*
!data/bronze/.gitkeep
data/silver/*
!data/silver/.gitkeep
data/gold/*
!data/gold/.gitkeep